.divOne {
    display: flex;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    font-stretch: condensed;
    color: red;


}

.divOneTwo{
    margin-top: 10%;
}


    .pOne{
        font-family: "Calibri Light", serif;
        font-weight: normal;
        font-size: 120%;
        color: gray;

    }

    .a1{
        color: #000000;
        font-weight: normal;
        font-family: Calibri, serif;
        text-decoration: none;
    }


.image2{
    padding: 8px 30px 10px 30px;
    /*float: left;*/
    width: 12%;
    /*margin-left: 20px;*/
    float: right;

}

.header-text{
    position: relative;
    flex: 70%;
    display: inline;
    top:-40px;
    left: 220px;
    margin-right: 80px;
}

.header-text a{
    color: #000000;
    font-weight: normal;
    font-family: Calibri, serif;
    text-decoration: none;
}


.company{
    position: absolute;
    background-color: lavenderblush;
    color: red;
    border: mintcream;
    height: 57%;
    width: 12%;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: -23px;
}

.apply{
    position: absolute;
    background-color: red;
    color: white;
    border-color: red;
    height: 57%;
    right: 120px;
    width: 128px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 25px;

}
.apply2{
    position: absolute;
    background-color: red;
    color: white;
    border-color: red;
    bottom: auto;
}

.top-nav{
    display: flex;
    height: 80px;
    width: 100%;
    position: fixed;
    top: -0.1rem;
}

.secondDiv{
    margin-top: 2rem;
    margin-left: 15rem;
    display: flex;
    gap: 2rem;
    text-decoration: none;
    color: #000000;

}

.buttonOne{
    margin-left: 5rem;
    margin-top: 2rem;
}

.heroImage{
    z-index: -1;
}

